{% extends "base.html" %}

{% block htmltitle %}
  {% if page and page.is_homepage %}
    <title>{{ config.site_name }}</title>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block extrahead %}
  {{ super() }}
  <meta name="robots" content="index,follow">
  <meta property="og:type" content="{% if page and page.meta and page.meta.type == 'blog' %}article{% else %}website{% endif %}">
  <meta property="og:site_name" content="{{ config.site_name }}">
  <meta property="og:title" content="{% if page and page.meta and page.meta.title %}{{ page.meta.title }}{% else %}{{ config.site_name }}{% endif %}">
  <meta property="og:description" content="{% if page and page.meta and page.meta.description %}{{ page.meta.description }}{% else %}{{ config.site_description }}{% endif %}">
  {% if page and page.canonical_url %}<meta property="og:url" content="{{ page.canonical_url }}">{% endif %}
{% endblock %}
